$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "_variables";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 100px;
  padding-bottom: 60px;
  font-family: 'Raleway', sans-serif;
}

html {
  background: url('../images/background.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#next-section {
  font-size: 6em;
  position: absolute;
  bottom: 100px;
}

#next-section-link {
  padding-left: 30px;
}

#gift {
  margin: 30px;
  font-size: 5em;
}

#map-below {
  font-size: 2em;
}

.small-title {
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  font-weight: bold;
}

.sacramento {
  font-family: 'Sacramento', cursive;
}

.normal {
  font-size: 38px;
}

.bold {
  font-weight: bold;
}

.super-title{
  h1 {
    font-size: 120px;
    font-weight: 700;
  }  
  padding-bottom: 40px;
}

.pad-left {
  padding-left: 5px;
}

.pad-top {
  padding-top: 5px;
}

.blue {
  color: #577492;
}
.pink {
  color: #EB91A9;
}

.dark-pink {
  color: #E67697;

}

.gray {
  color: lighten(#67655D, 30%);
}

.green {
  color: #84F25C;
}

.white {
  color: white;
}

.pink-orange {
  color: $pink-orange;
}

.strip-gray {
  background-color: lighten(#67655D, 30%);
  padding-top: 30px;
  min-height: 150px;
  padding-bottom: 30px;
  h2 {
    font-size: 3em;
  }
}

#details {
  border-top: 1px;
  border-top-color: black;
  background-color: white;
  min-height: 400px;
}

#getting_there{
  background: url('../images/path2.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#rsvp {
  display: block;
  position: relative;
}

.rsvp-background {
  background: url('../images/rsvp.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: brightness(78%) contrast(95%);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
}

.rsvp-content {
  h2 {
    font-size: 3em;
  }
  margin-top: 40px;
  font-weight: 600;
  font-size: 2em;
  color: white;
  z-index: 999;
  position: absolute;
  top:0;
  left:0;
}

.rsvp-description {
  margin-top: 7%;
  font-size: 2em;
}

.map-title {
  margin-bottom: 20px;
}

section {
  padding-top: 60px;
  height:100vh;
  width: 98.8vw;
}

#mauritius {
  margin-top: 60px;
}

.getting-there-description {
  margin-top: 100px;
  font-size: 18px;
}

.contacts {
  margin-top: 21%;
}

#website-navigation {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: $link-color;
  color: $link-hover-color;
}

.nav {

  li{
    border-right: solid 1px lighten(#67655D, 30%);

    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  li:last-of-type {
    border-right: hidden;
  }
  a {
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
  }
}
